{% extends 'navbar.html' %}
{% block body %}
    
<style>
body{
background-color: #fbf6ef;
font-family: 'Roboto', sans-serif; /* Font style */
color: #664229;
}

h1{
        margin-top: 20px;
        margin-bottom: 20px;
color: #664229;

    
    }
    .post-card {
background-color: #f9f9f9;
border: 1px solid #ebdfcc;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
    }
    .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .post-header h3 {
        margin: 0;
        font-size: 18px;
    }
    .post-content {
        margin-top: 10px;
    }
    .post-content p {
        margin: 0;
    }
    .post-content img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .post-footer {
        margin-top: 10px;
    }
    .post-footer small {
        font-size: 12px;
    }
    .read-more-link {
        display: inline-block;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        margin-top: 10px;
    }
</style>
    <h1>{{ post.title }}</h1>
    <p>Posted by: {{ post.user.username }}</p>
    <p>Posted on: {{ post.timestamp }}</p>
    <p>{{ post.text }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post Image">
    {% endif %}


{% endblock %}
                  