{% extends "navbar.html" %}

{% block title %}
    Authors
{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #fbf6ef; /* Light grey background */
            font-family: 'Roboto', sans-serif; /* Font style */
            color: #664229;
        }
        .container {
            margin-top: 20px;
        }
        .card {
            background-color: #ece4d8; /* Light tan background */
            border-radius: 10px;
            box-shadow: 0 4px 8px #664229;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .card-img-top {
            height: 200px; 
            object-fit: contain; 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding: 10px;
        }
        .card-title {
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        .btn-primary {
            background-color: #25911194; /* Pastel green */
            border-color: #a8ff61; /* Pastel green */
            font-weight: 500;
        }
        .btn-primary:hover {
            background-color: #259325; /* Darker pastel green on hover */
            border-color: #40ff80; /* Darker pastel green on hover */
        }
        h1 {
            font-weight: 700;
            margin-bottom: 20px;
            text-align: center;
        }
        a {
            color: #664229;
            text-decoration: none;
        }
        a:hover {
            color: #53381c;
            text-decoration: underline;
        }
    </style>

    <div class="container">
        <h1>Authors</h1>
        <div class="row">
            {% for author in authors %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ author.image.url }}" class="card-img-top" alt="{{ author.author_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ author.author_name }}</h5>
                            <a href="{% url 'books:author_detail' author.id %}" class="btn btn-primary mt-auto">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
