<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        .navbar-custom {
            background-color: #000000; /* True black */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="#">onemorechapter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Links for Logged in User -->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'books:index'%}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'books:my_shelf' username=user.username %}">My Shelf</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts:post_feed' username=user.username %}">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts:new_post' username=user.username %}">New Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'books:logout' %}">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'books:login' %}">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'books:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

</body>
</html>