{% extends "navbar.html" %}
{% block body %}
    <style>
        body {
            background-color: #fbf6ef; /* Light grey background */
            font-family: 'Roboto', sans-serif; /* Font style */
            color: #664229;
        }
        .container {
            margin-top: 20px;
        }
        .alert {
            background-color: #f8d7da; /* Light red background */
            color: #721c24; /* Dark red text */
            border: 1px solid #f5c6cb; /* Border matching the alert background */
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
        }
        .alert-icon {
            margin-right: 10px;
            font-size: 24px;
        }
        .list-group-item {
            background-color: #ece4d8; /* Light tan background */
            color: #664229;
            border: 1px solid #d3c5b8; /* Border color */
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s;
        }
        .list-group-item a {
            color: #664229;
            text-decoration: none;
        }
        .list-group-item a:hover {
            color: #53381c;
            text-decoration: underline;
        }
        h2 {
            font-weight: 700;
            margin-bottom: 20px;
        }
    </style>

    <div class="container">
        <div class="mt-3 alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle alert-icon"></i>
            We couldn't find '{{ search_query }}'.
        </div>

        {% if partial_matches %}
            <h2>Partial Matches:</h2>
            <ul class="list-group">
                {% for book in partial_matches %}
                    <li class="list-group-item"><a href="{% url 'books:book_page' book.title %}">{{ book.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
